body {
    font-family: Arial, sans-serif;
    text-align: center; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.table-container {
    display: inline-block;
    text-align: left; 
    margin: 20px;
}


table {
    width: 100%;
    max-width: 800px; 
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f2d8d8; 
}


th {
    background-color: #e57373; 
    color: white;
    padding: 10px;
    text-align: left;
}


td {
    border: 1px solid #e57373; 
    padding: 10px;
}


tr:hover {
    background-color: #ffebee; 
}